* {
  font-family: 'Poppins', sans-serif;
  max-height: 100%;
}

body {
  background-color: WhiteSmoke;
}

#main {
  background-color: rgb(240, 240, 240);
  margin: auto;
  width: 45%;
  border-radius: 10px 10px 0 0;
  padding: 0 0 2em 0;
}

h1 {
  text-align: center;
}

h4, p {
  line-height: 0.5em;
  padding-left: 1em;
}

.time {
  line-height: 0.2em;
  padding-left: 1em;
  padding-bottom: 1em;
}

#timecard {
  border: 1px dotted gray;
  margin: auto;
  width: 45%;
}
